%h1 Список дисциплин
%table
  %thead
    %tr
      %th=Discipline.human_attribute_name('full_name')
      -unless @disciplines.blank?
        %th
        %th
  %tbody
    -@disciplines.each do |discipline|
      %tr
        %td= link_to discipline.full_name, discipline
        %td= link_to 'Редактировать', edit_discipline_path(discipline)
        %td= link_to 'Удалить', discipline, :confirm => 'Вы уверены?', :method => :delete

%br
=link_to "Добавить дисциплину", new_discipline_path
