#menu.box
  %ul.box
    %li{:id=>controller_name=='schoolkids' ? "menu-active" : nil}=link_to content_tag(:span,"Школьники"),schoolkids_path
    %li{:id=>controller_name=='disciplines' ? "menu-active" : nil}=link_to content_tag(:span,"Дисциплины"),disciplines_path
    %li{:id=>controller_name=='courses' ? "menu-active" : nil}=link_to content_tag(:span,"Курсы"), courses_path
    %li{:id=>controller_name=='schools' ? "menu-active" : nil}=link_to content_tag(:span,"Школы"), schools_path
    %li{:id=>controller_name=='school_groups' ? "menu-active" : nil}=link_to content_tag(:span,"Классы"), school_groups_path
    %li{:id=>controller_name=='contracts' ? "menu-active" : nil}=link_to content_tag(:span,"Контракты"), contracts_path
    %li{:id=>controller_name=='groups' ? "menu-active" : nil}=link_to content_tag(:span,"Учебные группы"), groups_path
    %li{:id=>controller_name=='prices' ? "menu-active" : nil}=link_to content_tag(:span,"Стоимость обучения"), prices_path
